{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div class="containerLogin"><br/><br/><br/><br/><br/><img src="{{ asset('img/login.png') }}" alt="logo" id="page-logo">
            <form id="form" action="#" method="post">
                </br><div>Login</br>
                    <input type="text" name="login" id="input" value="">
                    <div class="status">{{ loginStat }}</div>
                </div>

                </br><div>Password<br/>
                    <input type="password" name="password" id="input" value="">
                    <div class="status">{{ passStat }}</div>
                </div>

                <div></br>
                    <input id="button" type="submit" value="login">
                </div></br>
                <div id="link"><a href="/register">Registration</a> </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}


