{% extends 'base.html.twig' %}
{% block body %}
    <div class="budzetContainer">
        <div class="budzetStatistic">
            <div>Wydałeś {{ totalExpense }} z {{ totalMonth }} dostępnych PLN</div><br/>
            <div class="load" ><span id="percentLoad"> &nbsp{{ percentValue }}%</span></div><br/><br/><br/><br/><br/>

            <form action="#" class="formBudzet" method="post">
                Twój miesięczny budżet<br/><br/>
                <input type="text" name="boudgetValue">
                <input type="submit" value="Aktualizuj">
                <div style="color: indianred; font-size: 17px;">&nbsp &nbsp {{ boudgetStat }}</div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    $("#percentLoad").css("width", "{{ percentValue }}%");
{% endblock %}


