<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Boudget - hello!{% endblock %}</title>
        {% block stylesheets %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            {#<script src="{{ asset('js/bootstrap.min.js') }}"></script>#}

            {#<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">#}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

            <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <div class="navbar">
        <a href="/">Wydatki</a>&nbsp &nbsp
        <a href="/statistic">Statystyki</a>&nbsp &nbsp
        <a href="/boudget">Budżet</a>

        <div id="menuNavbar">
            <img id="logout" onclick="logout()" src="{{ asset('img/logout.png') }}" alt="logo" id="page-logo">
        </div>
    </div>
    <div class="logo"><img src="{{ asset('img/budget.png') }}" alt="logo" id="page-logo"><p>budżet</p></div>
        {% block body %}
        {% endblock %}
    </div>
    <div class="footer"> <br/><br/>Created by rafiquee</div>
    <script>
        function logout()
        {
            window.location.replace("/logout");
        }

        {% block javascripts %}
        {% endblock %}
    </script>
    </body>
</html>
