{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div class="contentTxt">
            <br/><br/><img id="clickAdd" style = "position: relative;  left: 50%; transform: translate(-50%);" src="{{ asset('img/add.png') }}" alt="logo" id="page-logo">
            <br/><p id="date">{{ date }}&nbsp{{ fullDate }}</p>
        <div class="containerIndex">
            <table>
                <tr style="background-color: #1a2330; height: 48px;">
                    <td><b>&nbsp  &nbsp</b></td>
                    <td><b>&nbsp SPOŻ. &nbsp</b></td><td><b>&nbsp  &nbsp</b></td>
                    <td><b>&nbsp RTV. &nbsp</b></td><td><b>&nbsp  &nbsp</b></td>
                    <td><b>&nbsp AGD. &nbsp</b></td><td><b>&nbsp  &nbsp</b></td>
                    <td><b>&nbsp ROZRYWKA &nbsp</b></td><td><b>&nbsp  &nbsp</b></td>
                    <td><b>&nbsp RACHUNKI &nbsp</b></td><td><b>&nbsp  &nbsp</b></td>
                    <td><b>&nbsp SUMA &nbsp</b></td><td>
                </tr>
            {% for total in results %}
                <tr>
                    <td style="color: darkgray">&nbsp{{ total[0] }}&nbsp</td><td>&nbsp{{ total[1] }}&nbsp</td>
                    <td style="color: darkgray">&nbsp{{ total[2] }}&nbsp</td><td>&nbsp{{ total[3] }}&nbsp</td>
                    <td style="color: darkgray">&nbsp{{ total[4] }}&nbsp</td><td>&nbsp{{ total[5] }}&nbsp</td>
                    <td style="color: darkgray">&nbsp{{ total[6] }}&nbsp</td><td>&nbsp{{ total[7] }}&nbsp</td>
                    <td style="color: darkgray">&nbsp{{ total[8] }}&nbsp</td><td>&nbsp{{ total[9] }}&nbsp</td>
                    <td style="color: darkgray">&nbsp{{ total[10] }}&nbsp</td><td style="color: #f2ea91">&nbsp{{ total[11] }}&nbsp</td><td></td>
                </tr>
                {#{% for result in total %}
                   {{ result }}
                {% endfor %}#}
            {% endfor %}
                <tr style="background-color: #1a2330; height: 48px;">
                    <td style="background-color: #1a2330">&nbsp &nbsp</td><td style="background-color: #1a2330">&nbsp &nbsp</td>
                    <td style="background-color: #1a2330">&nbsp &nbsp</td><td style="background-color: #1a2330">&nbsp &nbsp</td>
                    <td style="background-color: #1a2330">&nbsp &nbsp</td><td style="background-color: #1a2330">&nbsp &nbsp</td>
                    <td style="background-color: #1a2330">&nbsp &nbsp</td><td style="background-color: #1a2330">&nbsp &nbsp</td>
                    <td style="background-color: #1a2330">&nbsp &nbsp</td><td style="background-color: #1a2330">&nbsp &nbsp</td>
                    <td style="background-color: #1a2330">&nbsp Total: &nbsp</td><td style="background-color: #1a2330; color: red; font-weight: bold">&nbsp {{ totalExpense }}&nbsp</td><td style="background-color: #1a2330"></td>
                </tr>
            </table>
        </div>
            <div class="menu" id="valuePrice">
                <form action="#" method="post">

                    <input type="text" size="18" placeholder="art. spoż." name="art">&nbsp
                    <input type="text" size="7" placeholder="PLN" name="art_cena">&nbsp<br/><br/>
                    <input type="text" size="18" placeholder="rtv" name="rtv">&nbsp
                    <input type="text" size="7" placeholder="PLN" name="rtv_cena">&nbsp<br/><br/>

                    <input type="text" size="18" placeholder="agd" name="agd">&nbsp
                    <input type="text" size="7" placeholder="PLN" name="agd_cena">&nbsp<br/><br/>
                    <input type="text" size="18" placeholder="rozrywka" name="fun">&nbsp
                    <input type="text" size="7" placeholder="PLN" name="fun_cena">&nbsp<br/><br/>

                    <input type="text" size="18" placeholder="rachunki" name="rachunki">&nbsp
                    <input type="text" size="7" placeholder="PLN" name="rachunki_cena">&nbsp<br/><br/>
                    &nbsp<input type="submit" style="height: 30px; margin-left: -20px; cursor: pointer" value="Dodaj"></form>
            </div>
    </div>

{% endblock %}

{% block javascripts %}
    $(document).ready(function() {
    $menu11 = $("#valuePrice");
    $menu22 = $("#valuePrice");

    $menu11.hide();
    $folded = true;

    $("#clickAdd").click(function() {
    if ($folded)
    {
    $menu11.animate(
    {
    height: '350px'
    });

    $folded = false;
    }
    else
    {
    $menu11.animate(
    {
    height: '0px'
    });
    $folded = true;
    }
    $menu22.slideToggle('slow');
    });
    });
{% endblock %}