{% extends 'base.html.twig' %}
{% block body %}
    <div class="containerStatistic"><br/><br/><br/><br/><br/>
        <div class="statisticBar">
            <span id="barArt"></span>
            <span id="barRtv"></span>
            <span id="barAgd"></span>
            <span id="barRoz"></span>
            <span id="barRach"></span>
        </div><br/>
       <div><span style="color: lightgoldenrodyellow">Artykuły spoż: </span> {{ totalArt }} PLN</div>
        <div><span style="color: indianred">RTV: </span>{{ totalRtv }} PLN</div>
        <div><span style="color: seagreen">AGD: </span>{{ totalAgd }} PLN</div>
        <div><span style="color: orange">Rozrywka: </span>{{ totalRozrywka }} PLN</div>
        <div><span style="color: skyblue">Rachunki: </span>{{ totalRachunki }} PLN</div><br/>
        <div><span style="color: red">Łącznie: </span>{{ totalAll }} PLN</div>
    </div>
{% endblock %}

{% block javascripts %}
    $("#barArt").css("width", "{{ percentArt }}%");
    $("#barRtv").css("width", "{{ percentRtv }}%");
    $("#barAgd").css("width", "{{ percentAgd }}%");
    $("#barRoz").css("width", "{{ percentRoz }}%");
    $("#barRach").css("width", "{{ percentRach }}%");
{% endblock %}


