{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <div class="containerRegister">
            <div style="color: greenyellow">{{ finallResult }}</div></br><br/><br/><br/><br/>
            <form action="#" id="form" method="post"><img src="{{ asset('img/login.png') }}" alt="logo" id="page-logo">
                <div id="txt"></br>Login</br>
                    <input type="text" name="login" id="login" value="">
                    <div class="status" id="statusLogin">{{ loginStat }}</div>
                </div>
                <div id="txt"></br>Password</br>
                    <input type="password" name="password" id="password" value="">
                    <div class="status" id="statusPass">{{ passStat }}</div>
                </div>
                <div id="txt"></br>Email</br>
                    <input type="text" name="email" id="email" value="">
                    <div class="status" id="statusEmail">{{ emailStat }}</div>
                </div>
                <div id="txt"></br>Repeat email</br>
                    <input type="text" name="email_repeat" id="emailRep" value="">
                    <div class="status" id="statusEmailRep">{{ emailRepStat }}</div>
                </div>
                <br/>
                <div>
                    <input type="submit" value="register" id="button">
                </div>
                <br/>
                <div id="link"><a href="/login">Login</a></div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}



