input:-moz-placeholder {color: white}
input::-webkit-input-placeholder {color: white}

body
{
  margin: 0px;
  padding: 0px;
}

.navbar
{
  display: inline-block;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #1a2330;
  color: #0000F0;
  text-align: center;
  z-index: 34;
}
.navbar a
{
  line-height: 58px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
}
.navbar a:hover
{
  color: red;
  font-weight: bold;
}

#menuNavbar
{
  position: absolute;
  display: inline;
  width: 200px;
  margin-top: 11px;
  margin-left: 5px;
  up: 20px;

}

#menu1
{
  background-color: indianred;
  height: 0px;
}

#menu2
{

  position: absolute;
  top: 55px;
  width: 100%;
  height: 60px;
  background-color: red;

}

.logo
{
  width: 100%;
  height: 380px;
  background-color: #5170a0;
  color: #0000F0;
  text-align: center;
}

.budzetStatistic
{
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.budzetContainer
{
  position: relative;
  width: 100%;
  height: 700px;
  background-color: #313e51;
  letter-spacing: 2px;
  font-size: 22px;
  color: whitesmoke;
}

.formBudzet input
{
  border: 2px solid black;
  height: 35px;
  border-radius: 12px;
  background-color: #1a2330;
  letter-spacing: 2px;
  color: white;
  font-size: 15px;
}

.statisticBar
{

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 70px;
  background-color: darkgray;
  border: solid 3px black;
}

#barArt
{
  float: left;
  height: 70px;
  background-color: lightgoldenrodyellow;
}

#barRtv
{
  float: left;
  height: 70px;
  background-color: indianred;
}

#barAgd
{
  float: left;
  height: 70px;
  background-color: seagreen;
}

#barRoz
{
  float: left;
  height: 70px;
  background-color: orange;
}

#barRach
{
  float: left;
  height: 70px;
  background-color: skyblue;
}

.load
{
  width: 410px;
  height: 40px;
  background-color: blue;
  border: solid 3px black;
  border-radius: 8px;
}

#percentLoad
{
  position: absolute;
  height: 40px;
  background-color: red;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d0b8b6' fill-opacity='0.56' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  margin-top: -1px;
  margin-left: -1px;
  border: solid 1px black;
  border-radius: 8px;
  z-index: 44;
  text-align: center;
  line-height: 40px;
  color: black;
  font-size: 20px;
}

.logo p
{
  margin-top: -50px;
  margin-left: 10px;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 30px;
}

.logo img
{
  margin-top: 50px;
}

#date
{
  text-align: center;
  color: salmon;
}

.menu
{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 33;
  bottom: 8px;
  width: 320px;
  height: 340px;
  margin-bottom: 90px;
  background-color: #d6335e;
  text-align: center;
  border: solid 3px black;
  border-radius: 12px;
  letter-spacing: 2px;
}

.menu form
{
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
}

.menu form input
{

  font-size: 12px;
  height: 22px;
  background-color: #1a2330;
  border: solid 3px black;
  border-radius: 2px;
  text-align: center;
  letter-spacing: 2px;
  color: yellow;

}
.contentTxt
{
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: #313e51;
  color: white;
}

#monthName
{
  position: relative;
  margin-left: 150px;
  margin-top: 59px;
  color: #ed636c;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
}

.containerRegister
{
  height: 700px;
  color: white;
  text-align: center;
  background-color: #313e51;
}

.containerRegister input
{
  text-align: center;
  height: 35px;
  font-size: 20px;
  background-color: black;
  border: solid 3px grey;
  border-radius: 12px;
  color: skyblue;
  opacity: 0.5;
}

.containerLogin
{
  position: relative;
  color: white;
  text-align: center;
  background-color: #313e51;
  height: 700px;
}

.containerLogin input
{
  text-align: center;
  height: 35px;
  font-size: 20px;
  background-color: black;
  border: solid 3px grey;
  border-radius: 12px;
  color: skyblue;
  opacity: 0.5;
}

.containerIndex
{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: #313e51;
  letter-spacing: 2px;
  text-align: center;
  font-size: 22px;
  color: whitesmoke;
}

.containerIndex b
{
  color: #ed7171;
  font-size: 15px;
}

.containerIndex table
{
  position: absolute;
  margin-top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 33;
  margin-bottom: 20px;
  border: 2px solid black;
  border-collapse: collapse;
  border-radius: 12px;
  letter-spacing: 2px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
}

.containerIndex table td
{
  margin: 4px;
}

.containerStatistic
{
  position: relative;
  line-height: 35px;
  left: 0;
  width: 100%;
  height: 700px;
  background-color: #313e51;
  text-align: center;
  letter-spacing: 2px;
  font-size: 22px;
  color: whitesmoke;
}

#link a
{
  color: red;
  text-decoration: none;
}

.status
{
  color: salmon;
}

.footer
{
  text-align: center;
  width: 100%;
  height: 350px;
  background-color: #1a2330;
  color: red;
}